/* *************************************  */
/* ? ************* general *************  */
/* *************************************  */

:root {
   --Gradient: hsl(6, 100%, 80%) to hsl(335, 100%, 65%);

   /* ### Neutral */

   --Pale-Blue: hsl(243, 100%, 93%);
   --Grayish-Blue: hsl(229, 7%, 55%);
   --Dark-Blue: hsl(228, 56%, 26%);
   --Very-Dark-Blue: hsl(229, 57%, 11%);

   font-family: "Raleway", sans-serif;

   font-size: 14px;
}

*,
*::after,
*::before {
   box-sizing: border-box;
}

html,
body {
   width: 100%;
   min-width: 375px;
   height: 100vh;
   background-image: url(../images/bg-mobile.png);
   background-repeat: no-repeat;
   background-size: cover;
   display: flex;
   justify-content: center;
   align-items: center;
}

/* *************************************  */
/* ? ************* main *************  */
/* *************************************  */

.main {
   display: flex;
   flex-direction: column;
   gap: 1rem;
   width: 90%;
   max-width: 500px;
}

.left,
.right {
   background-color: var(--Dark-Blue);
   padding: 2.5rem;
   border-radius: 1rem;
}

/* *************************************  */
/* ? ************* left *************  */
.left {
   border-top-right-radius: 7rem;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: space-between;
   gap: 3rem;
   width: 100%;
}

.left__logo,
.icons__item {
   cursor: pointer;
}

.icons {
   display: flex;
   gap: 1.5rem;
}

.icons__item {
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 0.7rem;
   background-color: var(--Very-Dark-Blue);
   height: 3.6rem;
   width: 3.6rem;
}

/* *************************************  */
/* ? ************* right *************  */

.right {
   color: var(--Pale-Blue);
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 1rem;
   width: 100%;
   position: relative;
}

.right__paragraph {
   text-align: center;
   margin: 0.2rem;
}

.right__input {
   width: 100%;
   position: relative;
}
.right__input::before {
   content: "";
   height: 100%;
   width: 81%;
   position: absolute;

   background: linear-gradient(
      90deg,
      hsl(6, 100%, 80%) 0%,
      hsl(335, 100%, 65%) 100%
   );

   border-radius: 1rem;
}

input[type="range"],
input[type="range"]::-webkit-slider-runnable-track,
input[type="range"]::-webkit-slider-thumb {
   -webkit-appearance: none;
}

input[type="range"]::-webkit-slider-runnable-track {
   background-color: var(--Very-Dark-Blue);
   vertical-align: middle;
   height: 1.7rem;
   border-radius: 2rem;
}
input[type="range"]::-webkit-slider-thumb {
   -webkit-appearance: none;
   position: absolute;
   z-index: 20;
   left: 74%;
   border-radius: 100%;
   background-color: white;
   height: 1rem;
   width: 1rem;
   vertical-align: middle;
   border: none;

   margin-top: 0.35rem;
}

.size {
   width: 100%;
   display: flex;
   justify-content: space-between;
}

.size__init,
.size__finish {
   font-weight: 600;
   margin: 0;
}

.tooltip {
   position: absolute;
   z-index: 10;
   bottom: -25%;
   height: 40%;
   width: 50%;
   background-color: white;
   border-radius: 1rem;
   color: black;
   display: flex;
   justify-content: center;
   align-items: center;
   /* gap: .4rem; */
}

.tooltips__info {
   text-align: center;
   margin: 0.5rem;
   color: var(--Dark-Blue);
   text-transform: uppercase;
   font-weight: 600;
   opacity: 0.7;
}

.tooltips__info-important {
   font-weight: 600;
   color: var(--Very-Dark-Blue);
   font-size: 2.4rem;
}

/* *************************************  */
/* ? ************* desktop *************  */
/* *************************************  */

@media screen and (min-width: 1067px) {
   html,
   body {
      background-color: var(--Very-Dark-Blue);
      background-image: url(../images/bg-desktop.png);
      background-size: 100%;
      background-position-y: 130%;
   }

   .main {
      max-height: 17rem;
      flex-direction: row;
      max-width: 1000px;
      gap: 2rem;
      height: 20rem;
   }

   .left {
      width: 70%;
      justify-content: space-evenly;
      gap: 1rem;
   }

   .left__logo {
      width: 50%;
   }

   .icons {
      width: 65%;
      gap: 0;
      justify-content: space-between;
   }

   .icons__item {
      height: 4rem;
      width: 4rem;
   }

   .right {
      height: 80%;
      align-self: flex-end;
   }

   .right__paragraph {
      text-align: left;
      width: 100%;
   }

   .right__input {
      width: 98%;
   }

   .right__input::before {
      width: 78%;
   }

   .tooltip {
      bottom: 80%;
      right: 3rem;
      max-width: 15rem;
      border-radius: 0.7rem;
      border-bottom-right-radius: 0;
      height: 45%;
   }

   .tooltip::after {
      content: "";
      width: 2.5rem;
      height: 2.5rem;
      background-color: white;
      position: absolute;
      bottom: -30%;
      right: 0;
      clip-path: polygon(0 0, 100% 100%, 100% 0);
   }
}
